<div class="container">
    <div class="row py-3 justify-content-center">
        <div class="col-md-6 col-12">
            <input class="form-control" [formControl]="searchControl" placeholder="Search GitHub users" />
        </div>
    </div>
    <div class="row row-cols-md-4 row-cols-sm-2 row-cols-1">
        <div *ngFor="let user of (users$ | async)" class="col mb-3">
            <div class="card">
                <img [src]="user.avatar_url" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-2">{{ user.login }}</h5>
                    <h6 class="card-subtitle mb-2 ">Type: {{ user.type }}</h6>

                </div>
            </div>
        </div>
    </div>
    <div *ngIf="(error$ | async) as err" class="error-message">{{ err }}</div>
</div>